<h1>Artists</h1>

<p>You searched for: <%= searchTerm %></p>

<p>Artist Count: <%= artists.length %></p>

<ul>
	<% for (var i = 0; i < artists.length; i++) { %>
	<li>
		<%= artists[i].artist_name %>
	</li>
	<% } %>
</ul>

<h2>Albums</h2>

<ul>
	<% for (var i = 0; i < albums.length; i++) { %>
	<li>
		<%= albums[i].collectionName %>
	</li>
	<% } %>
</ul>